.articles-listing {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius:10px;
    margin-bottom:15px;
}
.errors_list {
    color: red;
    border: 2px solid red;
    padding: 3px;
}
.white-background {
    background-color: white;
}
.img-thumbnail {
    height: 100px;
}
.img-grid {
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
}
.img-details, .img-grid {
    background: black;
} 
.home-grid {
    border: 2px solid silver;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}
#main-container {
    margin-top: 60px;
}
.img-details {
    width: 100%;
}
.border-offer {
    border: 0.5px solid silver;
}
